<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Carpeta Imagenes" value="C:\Users\user\Documents\Informatica\c#\TPFinalNivel2_DeSeta\Imagenes"/>
	</appSettings>
</configuration>